{% extends 'base.html.twig' %}

{% block title %}Mon compte - LScustoms{% endblock %}

{% block content %}

    <hr>
        <h1>Mon compte</h1>
        Bienvenu <strong>{{ app.user.firstname }}</strong> dans votre compte.
    <hr>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="/admin">Accéder au Back Office</a><br>
    {% endif %}
    <a href="{{ path('app_account_password') }}">Modifier mon mot de passe</a><br>
    <a href="{{ path('app_account_address') }}">Gérer mes adresses</a><br>
    <a href="{{ path('app_account_order') }}">Mes commandes</a>

{% endblock %}
