{% extends 'base.html.twig' %}

{% block content %}
    <!-- Three columns of text below the carousel -->

    <h3> Nos meilleures Ventes </h3>
    <div class="row">
        {% for product in products %}
            <div class="col-md-3">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Une autre façon de conduire<span class="text-muted"> chez LScustoms</span></h2>
            <p class="lead">Découvrez les voitures les plus performantes du marché conçues et designer par LS Customs.</p>
        </div>
        <div class="col-md-5">
            <img src="{{ asset('assets/img/Home1.jpg') }}" class="img-fluid" alt="">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Découvrez nos accessoires <span class="text-muted"> de grande qualité</span></h2>
            <p class="lead">Chez LS Customs, vous pouvez vous procurer les accessoires et pièces mécaniques qu'ils vous faut pour un prix défiant toute concurrence.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/Home2.jpg') }}" class="img-fluid" alt="">
        </div>
    </div>



    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}

{% block carousel %}{% endblock %}