{% extends 'base.html.twig' %}

{% block content %}
    <h1>Inscription</h1>

    {{ form(form) }}

    {% for message in app.flashes('notice') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}

{% endblock %}
